.container {
        width: 700px;
        clear: both;
       margin: 0 auto;
    }
.container input {
        width: 50%;
        clear: both;
    }
label {
	margin-left: 10px;
}

#comment {
	width: 50%;
	height: 100px;
}

#button {
	margin-top: 5px;
	width: 20%;
	position: relative;
}

#submitPrompt {
    display: block;
}