.dudeTable {
	border: 3px solid #CC0000;
	background-color: #0099CC;
	color: white;
}

.dudeHead {
	font-family: Verdana;
	font-weight: bold;
	font-size: 18px;

}

.dudeItems {
	font-family: Arial;
	font-size: 16px;
}

.chickTable {
	border: 10px solid black;
	background-color: yellow;

}

.chickHead {
	font-family: Arial;
	font-size: 10px;

}

.chickItems {
	font-family: Verdana;
	font-size: 20px;
}