html {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;

}


.big {
	background-color: white;
}
.small {
	background-color: white;
}
.container {
	height: 100%;
}

.header {
	text-align: center;
}

.list-group {
	  width: 100%;
}

.form-group {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;

}

h3 {
	text-align: center;
}


h1 {
	color: white;
	font-family: "Impact";
	font-variant: cursive;
	font-style: sans-serif;
}

#form {
	background-color: #E8E8E8;
	height: 300px;
	width:750px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	display: none;

}

.list-group {
cursor: pointer;
}

.navbar {
	background-color: 	000066;
}


.grid {
	width: 50px;
	height: 50px;
	}

.male {
	width: 250px;
	height: 250px;
}

.tasks {
	height: 1200px;
	width: 1200px;
}
.inner {
	display:none;
}

.box {
	height: 50px;
	background-color: #CC0066;
	text-align: center;
	color: white;
}

.
