html {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;

}


.big {
	background-color: white;
}
.small {
	background-color: white;
}
.container {
	height: 100%;
}

.header {
	text-align: center;
}

.list-group {
	  width: 100%;
}

.form-group {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;

}

h3 {

	color: #CC0066;
	padding-top: 10px;
	
        vertical-align:middle;
}


h1 {
	color: white;
	font-family: "Impact";
	font-style: sans-serif;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 10px;

}

h2 {
	color: #CC0066;


}

#form {
	background-color: #E8E8E8;
	height: 300px;
	width:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	display: none;

}

.list-group {
cursor: pointer;
}

.navbar {
	background-color: 	000066;
}


.grid {
	width: 50px;
	height: 50px;
	}

.male {
	width: 250px;
	height: 250px;
}

.tasks {
	height: 1200px;
	width: 1200px;
}
.inner {
	display:none;
}

.box {
	height: 50px;
	background-color: #E8E8E8;
	vertical-align: center;
	margin-top: 30px;
	margin-bottom: 10px;

}

.innerbox {
	display:none;
	background-color: #F8F8F8;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    color: black;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#taskstatus {
  display: table-cell;
  vertical-align: middle;
}

#form {
	display:none;
}

.glyphicon {
	font-size: 25px;
	color: white;
	float: right;
	
	margin-top: 10px;

}

.hamburger {
	color:black;
}

.search {
	display:none;
}